#create-datapoint.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title#title New Datapoint
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form#create-datapoint-form(method='POST' novalidate)
					div#date-group.form-group
						label(for='x') Date:
						input#x.form-control(type='date', name='x' required)
						#x-invalid.invalid-feedback
						#x-valid.valid-feedback
					div#y-group.form-group
						label(for='y')= 'Value'
						input#y.form-control(type='number', name='y' required)
						#y-invalid.invalid-feedback
						#y-valid.valid-feedback

				//- form(method="post")#get-credentials-form
				//- 	.form-group
				//- 		label Please enter the email address associated with your account
				//- 		input.form-control(type="email", id='email-tf', name="email").required
				//- 		.alert.alert-danger.hide
			.modal-footer
				button(data-dismiss="modal")#cancel.btn.btn-outline-dark Cancel
				//- button(type="submit")#retrieve-password-submit.btn.btn-primary Submit
				button#save.btn.btn-success(type='submit')
					| Save
					span.spinner-border.spinner-border-sm.ml-1(role="status" aria-hidden="true")
				button#delete.d-none.btn.btn-danger(type='submit')
					| Delete
					span.spinner-border.spinner-border-sm.ml-1(role="status" aria-hidden="true")
