extends layout

block content
    .container-fluid.d-flex.flex-column.h-100
        .row
            .col
                h4
                    =dataset.name
                    a(href="#") 
                        span.fas.fa-edit
        .row.flex-expand
            .col
                div(class="chartcontainer" id="set-0-" + dataset._id data-setid=dataset._id)

block pagescript
    script.

        $(".chartcontainer").each(function(i, container) {
            var setid = container.dataset.setid;
            var controller = new ChartController(container);
            controller.colorOffset = 0;
            controller.addDataset(setid);
        });

        //- window.controller = window.helpers.createChartControllerFromId('mainChart', '#{dataset._id}');