extends layout

block content
    #detail-container.container-fluid.p-0
        .row.m-0
                .col-12.p-0
                    .module-chart-detail(data-setid=dataset._id data-setname=dataset.name)
    //- .row.flex-expand
        //- .col


            //- .card.border-light.h-100.shadow-rb
            //-     .card-header.p-2
            //-         .card-title.m-0.d-flex.content-justify-between
            //-             h4.m-0.text-shadow
            //-                 span.align-middle= dataset.name
            //-             button.ml-auto.btn.btn-primary.btn-shadow
            //-                 span.fas.fa-edit
            //-     .card-body(style="position: relative;")
            //-         .chartcontainer(id="set-0-" + dataset._id data-setid=dataset._id)

    include modals/datapoint-form

block pagescript
    script.
        var controller = new ModalControllerDatapointForm();

        $(".module-chart-detail").each(function(i, container) {
            var detailModule = new ModuleChartDetail(container, controller);
        });

        //- .row
        //-     .col
        //-         h4
        //-             =dataset.name
        //-             a(href="#") 
        //-                 span.fas.fa-edit

        $(function () {
            $('[data-toggle="popover"]').popover()
        })