extends layout

block content
    div.container-fluid.h-100
        div.row#main
            div.col.h-100
                each set in datasets
                    .row
                        .col
                            h4
                                a(href="/chart/" + set.id)= set.name
                            div(style="height: 300px", id=set.id)

        //- div.row#footer
        //-     div.col
        //-         button#showall.btn.btn-primary
        //-             | Show All
        //-         button#left.btn.btn-primary
        //-             | &lt;&lt;
        //-         button#right.btn.btn-primary
        //-             | &gt;&gt;
        //-         button#minus.btn.btn-primary
        //-             | -
        //-         button#plus.btn.btn-primary
        //-             | +
block pagescript
    script.

        $.ajax({
            url: '/api/sets',
            method: 'GET',
            success: (datasets) => {
                console.log(JSON.stringify(datasets));
                for(var i = 0; i < datasets.length; i++) {
                    var set = datasets[i];
                    var controller = new ChartController(set._id);
                    controller.colorOffset = i;
                    controller.addDataset(set._id);
                }
            },
            error: (err) => {
                console.log(err);

                if (complete) complete();
            }
        });
