extends layout

block content
    .container-fluid
        each set, i in datasets
            .row
                .col
                    h4
                        a(href="/chart/" + set._id)= set.name
                        a(href="#") 
                            span.fas.fa-edit
            .row
                .col(style="height: 300px")
                    div(class="chartcontainer" id="set-" + i + "-" + set._id data-setid=set._id)

        //- div.row#footer
        //-     div.col
        //-         button#showall.btn.btn-primary
        //-             | Show All
        //-         button#left.btn.btn-primary
        //-             | &lt;&lt;
        //-         button#right.btn.btn-primary
        //-             | &gt;&gt;
        //-         button#minus.btn.btn-primary
        //-             | -
        //-         button#plus.btn.btn-primary
        //-             | +
block pagescript
    script.

        $(".chartcontainer").each(function(i, container) {
            var setid = container.dataset.setid;
            var controller = new ChartController(container);
            controller.colorOffset = i;
            controller.addDataset(setid);
        });

        //- $.ajax({
        //-     url: '/api/sets',
        //-     method: 'GET',
        //-     success: (datasets) => {
        //-         console.log(datasets);
        //-         for(var i = 0; i < datasets.length; i++) {
        //-             var set = datasets[i];
        //-             var containerid = "set-" + i + "-" + set._id;
        //-             console.log(containerid)
        //-             var controller = new ChartController($("#" + containerid)[0]);
        //-             controller.colorOffset = i;
        //-             controller.addDataset(set._id);
        //-         }
        //-     },
        //-     error: (err) => {
        //-         console.log(err);

        //-         if (complete) complete();
        //-     }
        //- });
