extends layout

block content
    .container-fluid
        .row.justify-content-center
            .col.col-sm-8.col-lg-6.bg-secondary.p-2
                form#login-form(action="/login" method="post" novalidate)
                    div#username-group.form-group
                        label(for='username') Username:
                        input#username.form-control(type='text', placeholder='' name='username' required)
                        #username-invalid.invalid-feedback
                        #username-valid.valid-feedback
                    div#password-group.form-group
                        label(for='password') Password:
                        input#password.form-control(type='password', placeholder='' name='password' required)
                        #password-invalid.invalid-feedback
                        #password-valid.valid-feedback
                    button#save.btn.btn-success(type='submit')
                        | Log In
                        span.spinner-border.spinner-border-sm.ml-1(role="status" aria-hidden="true")
                div.mt-2 Don't have an account yet? #[a(href="/register") Sign up!]

    //- form(action="/login",method="post")

    //-     div
    //-         label Username
    //-         input(type="text",name="username")

    //-     div
    //-         label Password
    //-         input(type="password",name="password")

    //-     div
    //-         input(type="submit",value="Log In")
