extends layout

block content
    .row.flex-expand
        .col
            - var ids = [];
            each set, i in datasets
                - ids.push(set._id)
            div(class="chartcontainer" id="multi" data-ids=JSON.stringify(ids))

block pagescript
    script.

        var ids = JSON.parse($('.chartcontainer')[0].dataset.ids);
        console.log(ids);

        // controller for chart
        var controller = new ChartController($('#multi')[0]);
        controller.addDatasetsFromIds(ids);

        //- $(".chartcontainer").each(function(i, container) {
        //-     var setid = container.dataset.setid;
        //-     var controller = new ChartController(container);
        //-     controller.colorOffset = 0;
        //-     controller.addDataset(setid);
        //- });


//-     div.container-fluid.h-100
//-         div#main.row
//-             div.col.h-100
//-                 div#mainChart.fill-all
//- block pagescript
//-     script.
//-         jQuery(function() {
//-             console.log('main onload');
//-             // controller for chart
//-             var controller = new ChartController('mainChart');
//-             controller.addDataset('5ca00f23f968e4b0a2f36e0e', function() {
//-                 controller.addDataset('5ca4dc5a85df2293711ef8a8');
//-             });
//-             window.controller = controller;
//-         })
