body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navbar-brand {
  background-image: url(/img/dailytracklogo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 3.5rem;
  font-size: 1.5rem;
  background-size: 3rem 3rem;
}
.navbar {
  padding: 0.5rem;
}
#content-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex: 1;
  position: relative;
}
#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}
.chartcontainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.toast-body {
  color: #444;
}
.fx-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#sidebar {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  background: #282828;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -200px;
}
.controlbar {
  height: 60px;
  padding: 10px 0;
  text-align: center;
}
.controlbar button {
  margin: 0 0.25rem;
}
@media (max-width: 767px) {
  #sidebar {
    margin-left: -200px;
    position: absolute;
    height: 100%;
    z-index: 20;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .fx-blur-when-small {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}
/* main occupies the whole screen except for header and footer */
