extends layout

block content
    form#point-form(method='POST' action='/api/sets/' + dataset._id + '/data' novalidate)
        div#date-group.form-group
            label(for='x') Date:
            input#x.form-control(type='date', name='x' value=(undefined===datapoint ? defaults.x : datapoint.x) required)
            #x-invalid.invalid-feedback
            #x-valid.valid-feedback
        div#y-group.form-group
            label(for='y')= 'Value (' + dataset.yAxisLabel + ')'
            input#y.form-control(type='number', name='y' value=(undefined===datapoint ? '' : datapoint.y) required)
            #y-invalid.invalid-feedback
            #y-valid.valid-feedback
        button#save.btn.btn-success(type='submit')
            | Save
            span.d-none.spinner-border.spinner-border-sm.ml-1(role="status" aria-hidden="true")
block pagescript
    script.
        // set all the valid feedback messages the same
        $('.valid-feedback').html('OK');

        $('#point-form').submit(function(event) {
            // server-size validation, reset validation state
            $('.form-control').removeClass('is-valid');
            $('.form-control').removeClass('is-invalid');

            // show the spinner
            $('#save').addClass('disabled');
            $('#save .spinner-border').removeClass('d-none');

            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            var formData = {
                'x': $('input[name=x]').val(),
                'y': $('input[name=y]').val(),
            };

            // send data to server
            $.ajax({
                type        : 'POST',
                url         : $('#point-form').attr('action'),
                data        : formData,
                dataType    : 'json',
                encode      : true
            })
            .done(function(data) {
                console.log('ajax resopnse: ' + data);
                console.log(data); 

                // hide the spinner
                $('#save').removeClass('disabled');
                $('#save .spinner-border').addClass('d-none');

                if (!data.success) {
                    // validation error
                    if(data.errors)
                    {
                        data.errors.forEach(function(error) {
                            // add the error message
                            $('#' + error.param).addClass('is-invalid');
                            $('#' + error.param + '-invalid').html(error.msg);
                        });
                    }
                }
                else {
                    // success
                    $.toast({
                        title: 'Success!',
                        content: data.message,
                        type: 'success',
                        delay: 5000
                    });

                    //- $('form').append('<div class="alert alert-success">' + data.message + '</div>');

                    // usually after form submission, you'll want to redirect
                    // window.location = '/thank-you'; // redirect a user to another page
                }
            })
            .fail(function(xhr) {
                // hide the spinner
                $('#save').removeClass('disabled');
                $('#save .spinner-border').addClass('d-none');

                $.toast({
                    title: 'Error!',
                    content: (xhr && xhr.responseJSON && xhr.responseJSON.message) || 'Unable to save, please try again later',
                    type: 'error',
                    delay: 5000
                });

                console.log('ajax error:');
                console.log(xhr.responseJSON);
            });

            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });
