body {
    width:100%;
    height:100%;
}

#container {
    padding: 0 15px 15px 15px;
}

/* header height specified in px */
#top {
    height: 60px;
}

/* main occupies the rest */
#main {
    height: calc(100vh - 60px - 15px);
}

.fill-all {
    position: relative;
    width: 100%;
    height: 100%;
}
